@{
    ViewData["Title"] = "Tree View";
}

@*<input id="Grade" type="number" value="9" />*@

<select id="Subject" asp-items="ViewBag.Subject" class="filterCourses"> </select>
<select id="Grade" asp-items="ViewBag.Grade"  class="filterCourses"> </select>
<select id="Genre" asp-items="ViewBag.Genre"  class="filterCourses"> </select>

<div id="treeElem">
</div>

<script src="~/lib/jstree/dist/jstree.min.js"></script>

<script>


    $('.filterCourses').change(function () {

        $('#treeElem').jstree(true).settings.core.data.url = "/Tree/GetNodesJsTree/?grade=" + $("#Grade").val() + "&subject=" + $("#Subject").val() + "&genre=" + $("#Genre").val();
        $('#treeElem').jstree(true).refresh();
    });

    $(function () {

        $('#treeElem').jstree({ //------------------------ jstree 
            'core': {
                'data': {
                    "url": "/Tree/GetNodesJsTree/?grade=" + $("#Grade").val() + "&subject=" + $("#Subject").val() + "&genre=" + $("#Genre").val()
                },
            },
        })
    });

</script>

